wordpress/config/*
wordpress/wp-app/*
wordpress/wp-app/wp-admin/*
wordpress/wp-app/wp-content/*
wordpress/wp-app/wp-content/plugins/*
wordpress/wp-app/wp-content/themes/*
wordpress/wp-app/wp-content/*
wordpress/wp-app/wp-includes/*
wordpress/wp-data/*